services:
  backend:
    container_name: flutteractixapp_backend
    image: flutteractixapp_backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env.docker
    command: bash -c "sqlx migrate run
      && cargo watch -q -c -w src/ -x run"
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    networks:
      - app-network

  db:
    image: flutteractixapp_db
    build:
      context: ./db
      dockerfile: Dockerfile
    env_file:
      - ./db/.env
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    expose:
      - "5432"
    command: -p 5432
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
